@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white text-gray-800 dark:bg-gray-900 dark:text-gray-100;
}

html {
  @apply transition-all duration-500 ease-in-out;
  transition: background-color 0.5s, color 0.5s;
}

/* in index.css or App.css */
@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 0.5s ease-in-out;
}
